version: ~> 1.0
sudo: false
language: node_js
node_js:
  - '10'
  - '12'
  - '13'
  - '14'
matrix:
  fast_finish: true
  allow_failures: []
cache: yarn
install:
  - >-
    eval "$(curl -fsSL
    https://raw.githubusercontent.com/bevry/awesome-travis/9fa2fa025c77b463d03154f39922af95cadc9c67/scripts/node-install.bash)"
before_script:
  - >-
    eval "$(curl -fsSL
    https://raw.githubusercontent.com/bevry/awesome-travis/9fa2fa025c77b463d03154f39922af95cadc9c67/scripts/node-verify.bash)"
after_success:
  - >-
    eval "$(curl -fsSL
    https://raw.githubusercontent.com/bevry/awesome-travis/9fa2fa025c77b463d03154f39922af95cadc9c67/scripts/node-publish.bash)"
notifications:
  email:
    recipients: >-
      de9El0eRgJuuK0yuQjXL/Le2JH2k/yKr01G5mgR+WBC55Qyf7cp7KbBu2lWUqYPunIYFEu6KOvZ7dNO6DFmo6uQhqSqiq8WnO9mzVSFUvb0GLhwmA3qFJPL2OVHV3CBGe/3o2lfqFuqRzGPXeN83jEdS+Yh9kB64QbaYPmd7+7Q=
